.flat__desc{
    display: flex; flex-wrap: wrap;
    margin-top: 80px;
    /* padding: 30px 60px; */
}
.flat__desc-desc{
    width: calc(65% - 80px); min-height: 100vh; background: #fff; margin: 10px 40px;
    padding: 20px; border-radius: 10px;
}

/* ==== flat desc image ==== */
.flat__desc-image{ width: 100%; overflow: hidden; }
.flat__desc-image img{ width: 100%; height: 60vh;}
.flat__desc-imageBox{ display: flex; justify-content: space-between; margin-top: 10px;}
.flat__desc-imageBox .image{ width: 30%; height: 100px; }
.flat__desc-imageBox .image { width: 100%; }

/* ==== flat desc name ==== */
.flat__desc-name{ margin: 20px 0; }
.flat__desc-name h1{ font-family: var(--primary-font); font-weight: 500; }
.flat__desc-name h1 span{ font-size: 16px; margin-left: 10px;}
.flat__desc-name h1 span.price{ float: right; margin-top: 4px; font-weight: 300;}
.flat__desc-name p{ font-size: 15px; color: #666; font-family: var(--primary-font);}

/* ==== flat desc info ==== */
.flat__desc-info{ margin: 30px 0; }
.flat__desc-info .info,
.flat__desc-info .info .info-desc,
.flat__desc-info .info .info-desc .info-image { display: flex; align-items: center; }
.flat__desc-info .info .info-desc { margin-right: 15%; }
.flat__desc-info .info .info-desc .info-value{ font-family: var(--primary-font); font-size: 15px; }
.flat__desc-info .info .info-desc .info-image{ 
    width: 40px; height: 40px; border-radius: 50%;
    justify-content: center; margin-right: 15px;
    background: var(--primary-color-light);
}

/* ==== flat desc description ==== */
.flat__desc-price-in-mobile { display: none; }
.flat__desc-description, .flat__desc-price-in-mobile{
    margin-bottom: 20px; font-family: var(--primary-font);
}
.flat__desc-description h2{ font-weight: 500; margin-bottom: 10px;     }
.flat__desc-price-in-mobile h2{ font-size: 18px; font-weight: 500;}
.flat__desc-price-in-mobile h2 strong{ font-size: 16px; font-weight: 300;}
.flat__desc-description p { font-weight: 300; font-size: 15px; }

/* ==== flat desc button ==== */
.flat__desc-button{ margin: 30px 0; display: flex; }
.flat__desc-button button{ margin-right: 30px; }
.flat__desc-button .buy-now{
    padding: 10px 40px; font-size: 18px; font-family: var(--primary-font);
    background: var(--primary-color-dark); color: #fff; font-weight: 500;
    outline: none; border: none; cursor: pointer;
}
.flat__desc-button .add-to-fvrt{  outline: none; border: none; background: transparent; font-size: 16px; cursor: pointer;}
.flat__desc-button .add-to-fvrt i{ margin-right: 3px; }
.flat__desc-button .add-to-fvrt:hover{ color: red; }


.flat__desc-owner{ 
    width: calc(35% - 40px); height: max-content;
    border-radius: 10px; background: #fff;
    margin: 10px 40px 40px 0; padding: 20px;
}
.flat__desc-owner .owner-info{ display: flex; align-items: center; }
.owner-info .owner-image{ margin-right: 10px; }
.owner-info .owner-image img{ width: 80px; height: 80px; border-radius: 50%; }
.owner-info .owner-name{ font-family: var(--primary-font); }
.owner-info .owner-name h2{ font-weight: 500; }
.owner-info .owner-name p{ color: #666; font-size: 15px; margin: -1px 0 8px 0;}
.owner-info .owner-name a{ text-decoration: none; color: var(--primary-color);}
.owner-info .owner-name a:hover{ color: var(--primary-color-dark); }
.owner-description{ margin: 20px 0; font-family: var(--primary-font); color: #444; font-size: 15px;}

.owner-contact-info{ display: flex; font-family: var(--primary-font); margin-bottom: 10px;}
.owner-contact-info .title{ width: 40%; font-weight: 500;}
.owner-contact-info .value{ width: 60%; font-weight: 300;}
.contactWith{ margin-top: 30px; }
.contactWith .value,.contactWith .email{ display: flex; align-items: center;}
.contactWith .email,
.contactWith .call{
    background: var(--primary-color-light); color: var(--primary-color-dark);
    padding: 5px 15px; border-radius: 20px; font-weight: 500;
    font-size: 16px; display: flex; align-items: center;
}
.contactWith .call svg,
.contactWith .email svg{ font-size: 14px; margin-right: 8px;}
.contactWith .email{ margin-left: 10px; }

.relatedFlats h2{ font-family: var(--primary-font); font-weight: 500; margin-top: 40px;}
.relatedflat{ 
    display: flex; margin-top: 25px; box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 5px; height: 15vh; transition: .3s; cursor: pointer;
}
.relatedflat:hover{ transform: scale(1.05); }
.relatedflat .flat-image{ width: 30%; }
.relatedflat .flat-image img{ width: 100%; height: 100%; border-radius: 5px;}
.relatedflat .flat-desc{ 
    width: 70%; margin-left: 10px; font-family: var(--primary-font);
}
.relatedflat .flat-desc p{ color: #666; font-size: 15px; margin-top: -3px;}
.relatedflat .flat-desc .specs{ display: flex; margin-top: 15px;}
.relatedflat .flat-desc .spec{ display: flex; margin-right: 10%;}
.relatedflat .flat-desc .spec img{ margin-right: 5px; }




@media (max-width: 768px){ 
    .flat__desc{ padding: 0 10px; }
    .flat__desc-image img{ height: 30vh;}
    .flat__desc-imageBox .image{ height: 50px; }
    .flat__desc-desc{ width: 100%; margin: 0; border-radius: 0;}
    .flat__desc-name{ margin: 20px 0; }
    .flat__desc-name h1{ font-size: 25px; }
    .flat__desc-name h1 span{ display: none; }
    .flat__desc-info{ margin: 20px 0; }
    .flat__desc-info .info,
    .flat__desc-info .info .info-desc,
    .flat__desc-info .info .info-desc .info-image { margin: auto; }
    .flat__desc-info .info .info-desc { margin-right: 10%; }
    .flat__desc-info .info .info-desc .info-value span{ display: none; }
    .flat__desc-info .info .info-desc .info-image{ 
        width: 40px; height: 40px; margin-right: 0;
        background: transparent;
    }
    .flat__desc-price-in-mobile { display: block; }
    .flat__desc-button{ margin: 20px 0; }
    .flat__desc-button button{ margin-right: 15px; }
    .flat__desc-button .buy-now{padding: 10px 20px; font-size: 16px;}
    .flat__desc-button .add-to-fvrt{font-size: 15px;}
    .flat__desc-button .add-to-fvrt i{ margin-right: 3px; }

    .flat__desc-owner{ 
        width: 100%; height: max-content;
        margin: 0; margin-top: 10px; border-radius: 0;
    }
    .relatedflat{margin-top: 20px; height: 17vh;}
}