:root{
  --primary-color-dark: #e84a5f;
  --primary-color: #ff847c;
  --primary-color-light: #feceab;
  --text-color: #333;
  --primary-font: 'Quicksand', sans-serif;
  --primary-font-bold: 'Fredoka One', cursive;
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
html, body{
  background: #f7f7f7;
}